@page "/register"

<div class="frame">
    <h2 class="mb-2 title"><span class="underline">Registration</span></h2>
    <EditForm OnValidSubmit="HandleSendSmsAsync" Model="RegisterUserModel">
        <DataAnnotationsValidator />

        <div>
            <label for="name" style="display:block; position:relative;">Display Name</label>
            <div class="input-form">
                <InputText id="name" disabled="@isButtonDisabled" @bind-Value="RegisterUserModel.Name" class="form-control" />
                <div class="text-validation-error">
                    <ValidationMessage For="@(() => RegisterUserModel.Name)" />
                </div>
            </div>
        </div>

        <div>
            <label for="phone">Phone</label>
            <div class="input-form">
                @* <img src="icons/smartphone.png" alt="phone" /> *@
                <div class="input-with-icon">
                    <InputNumber id="phone" disabled="@isButtonDisabled" @bind-Value="RegisterUserModel.Phone" class="input-has-icon" />
                    <label for="phone" class="input-icon">+47</label>
                </div>
                <div>
                    <div class="text-validation-error">
                        <ValidationMessage For="@(() => RegisterUserModel.Phone)" />
                    </div>
                </div>
            </div>
        </div>

        <div class="input-form">
            <label for="name" >Email</label>
            <div>
                <InputText disabled="@isButtonDisabled" @bind-Value="RegisterUserModel.Email" class="form-control" />
                <div class="text-validation-error">
                    <ValidationMessage For="@(() => RegisterUserModel.Email)" />
                </div>
            </div>
        </div>



            <button type="submit" class="sign-in-up-button" disabled="@isButtonDisabled">
                Register
            </button>

        <p class="text-small">Already have an accound? <a href="/login">Login here</a></p>

    </EditForm>
</div>

@code {
    RegisterUserDto RegisterUserModel = new();

    bool isButtonDisabled = false;

    private async Task HandleSendSmsAsync(){

    }
    }
